{
    "RECAPTCHA_KEY": "YOUR_KEY",
    "GOOGLE_ANALYTICS_ID":"YOUR_KEY",
    "BASE_URL": "https://safeweb.app",
    "SIGN_UP_URL": "https://admin.safeweb.app/signup",
    "SIGN_IN_URL": "https://admin.safeweb.app/signin"
}
