body {
  background-color: #152242
}

.padding {
  padding: 7rem !important;
  margin-left: 50px
}

.intro .buttons a.btn {
  margin: 10px;
  padding: 10px 30px
}

.btn {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 700
}

.animated h2 {
  text-align: center;
  color: #fff
}

.animated p {
  text-align: center;
  color: #fff
}

.buttons {
  text-align: center
}